@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --main-color: #52B591;
  --sec-color: #51B591;
  --main-font: 'Montserrat', sans-serif;
  --sec-font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--sec-font);
}

body {
  background-color: #E8F9F3;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--sec-color);
  font: var(--main-font);
}

li {
  list-style: none;
}

h1 {
  color: var(--main-color);
  font-family: var(--main-font);
  margin-bottom: 1em;
  font-size: 2em;
}

h2 {
  color: var(--sec-color);
  font-family: var(--sec-font);
  margin-bottom: 1em;
  font-size: 1.6em;
}

.bold {
  font-weight: bold;
}

